# Baibusu API .env Example
# Updated Sep 5, 2025

## Environment
NODE_ENV="production" # Leave at production
LOG_LEVEL="info" # Info is preferred within production.

## API
PORT=3000 # What port you want the API to run on.
APIKEY= #Your secure API Key, will be removed in the future.

## DATABASE
DATABASE_URL="postgresql://username:password@host:5432/apii?schema=public"